@{
    ViewData["Title"] = "All Users";
}

<link href="~/css/allerts.css" rel="stylesheet" />
@if (TempData["SuccessMessage"] != null)
{
    <div class="col-sm-12">
        <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">

            <i class="start-icon far fa-check-circle faa-tada animated"></i>
            <strong class="font__weight-semibold">Well done!</strong> @TempData["SuccessMessage"]
        </div>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="col-sm-12">
        <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">

            <i class="start-icon far fa-times-circle faa-pulse animated"></i>
            <strong class="font__weight-semibold">Oh snap!</strong> @TempData["ErrorMessage"]
        </div>
    </div>
}
<div class="l-main">
    <div class="l-main-content l-main-content--full-height Grid Grid--gutters Grid--flexCells">
        <div class="Grid-cell">
            <div class="c-panel">
                <div class="c-panel__heading u-flex">
                    <div class="l-tool-group">
                        <a asp-action="Create" asp-controller="User" class="c-button c-button--primary c-button--panel-head" style="cursor:pointer; text-decoration:none;">Add New User</a>
                    </div>
                    <div class="l-tool-group u-grow u-justify-end">
                        <form class="l-search-group" asp-action="SerachByNameUsers" asp-controller="User">
                            <input class="c-search"  name="Name" type="text" placeholder="Search by name" />
                            <button type="submit" class="c-button c-button--panel-head c-button--search c-button--icon"><i class="material-icons">Search</i></button>
                        </form>
                    </div>
                </div>
                <div class="c-panel__body">
                    <div class="l-scroll-section js-sticky-head">
                        <table class="c-table">
                            <thead>
                                <tr>
                                    <th class="c-table__header c-table__header-cell--10">Image</th>
                                    <th class="c-table__header c-table__header-cell--5">ID</th>
                                    <th class="c-table__header c-table__header-cell--20">Name</th>
                                    <th class="c-table__header c-table__header-cell--5">Purchases number</th>
                                    <th class="c-table__header c-table__header-cell--25">Email</th>
                                    <th class="c-table__header c-table__header-cell--5">Status</th>
                                    <th class="c-table__header c-table__header-cell--11">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {

                                        <tr class="c-table__row">
                                            <td class="c-table__cell"><img loading="lazy" src="@item.ImageURL" style="width:40px; height:40px;" /></td>
                                            <td class="c-table__cell">@item.ID</td>
                                            <td class="c-table__cell">@item.Name</td>
                                            <td class="c-table__cell">@item.Purchasesnumber</td>
                                            <td class="c-table__cell">@item.Email</td>
                                            @{
                                                if (item.IsActive == true)
                                                {
                                                    <td class="c-table__cell" >Active</td>
                                                }
                                                else
                                                {
                                                    <td class="c-table__cell">Not Active</td>
                                                }
                                            }
                                            <td class="c-table__cell " style="font-size: 1rem;"> <a asp-action="ConfirmThisAction" asp-controller="User" asp-route-id="@item.ID" asp-route-actionName="Active"><i class="fa-solid fa-person-circle-question" style="margin-left:10px;"></i>   </a>   <a asp-action="ConfirmThisAction" asp-controller="User" asp-route-id="@item.ID" asp-route-actionName="Delete"><i class="fa-solid fa-trash" style="margin-left:10px;"></i></a> </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $(".alert").click(function () {
            $(this).fadeOut();
        });
    });
</script>

