@model Shoop.ViewModel.ShoppingCartModelView;




<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3"> Shoopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Cart</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @{
                        int ID = 0;
                        foreach (var item in Model.CartsDetlis)
                        {
                            ID = item.UserID;
                            <tr>
                          
                                <td class="align-middle"> @item.Name</td>
                                <td class="align-middle">$@item.Price</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <a asp-action="IncreaseAndDecrease" asp-controller="ShoppingCart" asp-route-id="@item.ID" asp-route-IsIncrease="No" class="btn btn-sm btn-primary btn-minus" style="cursor:pointer">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                        <input type="text" readonly class="form-control form-control-sm bg-secondary text-center" value="@item.Quantity">
                                        <div class="input-group-btn">
                                            <a asp-action="IncreaseAndDecrease" asp-controller="ShoppingCart" asp-route-id="@item.ID" asp-route-IsIncrease="Yes" class="btn btn-sm btn-primary btn-plus" style="cursor:pointer">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">$@item.TotalAmount</td>
                                <td class="align-middle"><a asp-action="Delete" asp-controller="ShoppingCart" asp-route-id="@item.ID" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>

      

            <div class="card border-secondary mb-5" style="width:370px">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">$@Model.TotalCartAmount</h6>
                    </div>
                  
                </div>

               <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">$@Model.TotalCartAmount</h5>
                    </div>
                    <a asp-action="ConfirmOrder" asp-controller="Order" asp-route-userid="@ID" asp-route-totalamount="@Model.TotalCartAmount" class="btn btn-block btn-primary my-3 py-3">Make Order</a>
               </div>
            </div>


    </div>
</div>
